<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="ExcelAddIn3.Properties.Developer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BrevizModelContainer" connectionString="metadata=res://*/DataModel.AnalyzerModel.csdl|res://*/DataModel.AnalyzerModel.ssdl|res://*/DataModel.AnalyzerModel.msl;provider=System.Data.SqlClient" providerName="System.Data.EntityClient" />
    <add name="ApplicationDbContext" connectionString="metadata=res://*/Models.ApplicationDBModel.csdl|res://*/Models.ApplicationDBModel.ssdl|res://*/Models.ApplicationDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;initial catalog=PerfectXLDb-Dev;Persist Security Info=True;User ID=ipxlw-dev;Password=uploaden;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultDbConnectionString" connectionString="server=(LocalDb)\v11.0;initial catalog=PerfectXLDb-Dev;Persist Security Info=True;User ID=ipxlw-dev;Password=uploaden;" />
  </connectionStrings>
  <appSettings>
    <add key="Report.ListExcelReportNameFormat" value="{0}-List-Report.xlsx" />
    <add key="Report.MappingExcelReportNameFormat" value="{0}-Sheetname-Mapping.xlsx" />
    <add key="Report.ExcelReportTemplate" value="../Content/ReportingTemplates/ReportingTemplate.xlsx" />
    <add key="Report.MaximumReportingWorksheets" value="3" />
    <add key="Report.MaxNumberOfAffectedCellsGroupOperation" value="10000000" />
    <add key="Report.LegendWorksheetName" value="Legend" />
    <add key="Report.WorksheetConstantsNameFormat" value="Constants {0}" />
    <add key="Report.AllRisksWorksheetTemplateName" value="AllRisksTemplate" />
    <add key="Report.AllUniqueFormulasWorksheetTemplate" value="AllUniqueFormulasTemplate" />
    <add key="Report.AllConstantsTemplate" value="AllConstantsTemplate" />
    <add key="Report.AllUniqueFormulasWorksheetName" value="List all formulas" />
    <add key="Report.AllRisksWorksheetName" value="List all risks" />
    <add key="Report.AllConstantsWorksheetName" value="List all constants" />
    <add key="Report.ConstantsWorksheetTemplateName" value="WorksheetConstantsTemplate" />
    <add key="Report.OutputReportFormat" value="{0}-Report.xlsx" />
    <add key="Report.DefaultStartRowIndex" value="3" />
    <add key="Report.MaximumWorksheetNameLength" value="31" />
    <add key="Report.ExcelReportCommentAuthorName" value="Infotron" />
    <add key="Report.WorksheetReferencesFormat" value="References {0}" />
    <add key="Report.WorksheetUniqueFormulaFormat" value="Formulas {0}" />
    <add key="Report.WorksheetRiskFormat" value="Risks {0}" />
    <add key="Report.WorksheetCellMappingFormat" value="Cell Formats {0}" />
    <add key="Report.SpecialWorksheetNameFullCellLocationFormat" value="{0}'!{1}" />
    <add key="Report.ExternalWorkbookPlaceholder" value="[...]" />
    <add key="Report.RegularWorksheetNameHyperlinkFormat" value="{0}!{1}" />
    <add key="Report.SpecialWorksheetNameHyperlinkFormat" value="'{0}'!{1}" />
    <add key="Report.NotApplicable" value="N/A" />
    <add key="Format.RangeLocationFormat" value="{0}/{1}" />
    <add key="Format.RangeFormat" value="{0}:{1}" />
    <add key="Format.RangeDisplayFormat" value="'{0}'!{1}" />
    <add key="Format.DashboardPageFormat" value="http://beta.perfectxl.nl/dashboard/workbooks/{0}" />
    <add key="Format.ResetPasswordLinkFormat" value="http://beta.perfectxl.nl/account/reset-password?email={0}&amp;token={1}" />
    <add key="Format.CompleteRegistrationLinkFormat" value="http://beta.perfectxl.nl/account/complete-registration?token={0}" />
    <add key="Format.FullCellLocationFormat" value="{0}!{1}" />
    <add key="Format.SettingLevelsFormat" value="{0}|{1}|{2}" />
    <add key="Format.KeyIndicatorsFormat" value="{0}|{1}|{2}|{3}|{4}|{5}|{6}|{7}|{8}|{9}|{10}|{11}" />
    <add key="Marker.DefaultSeparator" value="|" />
    <add key="Marker.ExternalWorkbookReferenceMarker" value="]" />
    <add key="Marker.OutsideReferenceSpecialMarker" value="'!" />
    <add key="Marker.OutsideReferenceMarker" value="!" />
    <add key="Marker.RangeDelimiterMarker" value=":" />
    <add key="Marker.WorksheetRangeDelimiterMarker" value="/" />
    <add key="Marker.ExtensionDelimiterMarker" value="." />
    <add key="Marker.CommaSeparator" value=", " />
    <add key="Email.NoReplyEmailAddress" value="noreply@infotron.nl" />
    <add key="Email.NoReplyEmailName" value="Infotron PerfectXL" />
    <add key="Email.AccountRegistrationSubject" value="Infotron account registration" />
    <add key="Email.PasswordResetSubject" value="Infotron password reset" />
    <add key="Email.RegisterUserSubject" value="Infotron account registration" />
    <add key="Email.NoReplyEmailSignatureFormat" value="This is an automatically generated message. Do not reply to it, as the '{0}' address is not monitored." />
    <add key="Color.FormulaRangeColorCode" value="B0B4C3" />
    <add key="Color.NumericRangeColorCode" value="7CFC00" />
    <add key="Color.MiscRangeColorCode" value="F4A460" />
    <add key="Color.FormulaBorderColorCode" value="FF00FF" />
    <add key="Color.InsideWorksheetColorCode" value="8DB4E2" />
    <add key="Color.OutsideWorksheetColorCode" value="538DD5" />
    <add key="Color.ExternalWorkbookColorCode" value="16365C" />
    <add key="Color.ExternalWorkbookFontColorCode" value="FFFFFF" />
    <add key="Color.ReferencedCellColorCode" value="CDD92E" />
    <add key="Color.DefaultTextColorCode" value="000000" />
    <add key="Color.DefaultBackgroundColorCode" value="FFFFFF" />
    <add key="AppGeneral.CreationDateXLSXFileIndex" value="143" />
    <add key="AppGeneral.CreationDateXLSMFileIndex" value="143" />
    <add key="AppGeneral.CreationDateXLSFileIndex" value="145" />
    <add key="AppGeneral.XLSXExtension" value="xlsx" />
    <add key="AppGeneral.XLSExtension" value="xls" />
    <add key="AppGeneral.XLSMExtension" value="xlsm" />
    <add key="AppGeneral.PredefinedCategoriesInfo" value="Important:FF0000|To Do:F7B705|Ok:3AF705|New Report:F705DB|Postponed:050EF7|In Progress:05F7E3" />
    <add key="AppGeneral.RefactoringSuggestionResourceRootFilename" value="RefactoringSuggestions" />
    <add key="AppGeneral.InternationalizedFilenameFormat" value="{0}.{1}.resx" />
    <add key="AppGeneral.FilesDir" value="~/App_Data/Files/" />
    <add key="AppGeneral.GemboxLicenseKey" value="E7OS-D3IG-PM8L-A03O" />
    <add key="AppGeneral.ValidFileExtensions" value="xls|xlsx|xlsm" />
    <add key="AppGeneral.LongRunningSPTimeout" value="120" />
    <add key="Analysis.DefaultThresholdsCount" value="3" />
    <add key="Analysis.RiskIndicatorsCellBatchCount" value="1000" />
    <add key="Analysis.RangeConnectionIncrement" value="2" />
    <add key="Analysis.CellConnectionIncrement" value="1" />
    <add key="Analysis.AnalysisMaxRows" value="1000" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>