<?xml version="1.0" encoding="utf-8" ?>

<!-- 
NLog configuration file for PerfectXL stand alone version. 
-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      >

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <targets>
    <target name="console" xsi:type="Console"
            layout="${longdate} [${threadname}::${threadid}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} - ${message} ${exception:innerFormat=Message,StackTrace}"/>

    <!-- Note: fileName for tracelog set programmatically -->
    <target name="tracelog" 
            xsi:type="File"    
            fileName="${basedir}/App_Data/Logs/PerfectXL.trace.log"
            layout="${longdate} [${threadname}::${threadid}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} - ${message} ${exception:innerFormat=Message,StackTrace}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,tracelog" />
  </rules>
</nlog>
